body {
    font-family: Arial, sans-serif;
    background-color: #666;
    margin: 0;
    padding: 0;
}

form {
    max-width: 650px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: blueviolet;
    border: 3px ridge black;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="mail"],
select {
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4caf50;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}
